body {
  background: #eee; }

h1 {
  font-size: 18px; }

.berlinClock {
  margin: 0 auto;
  width: 385px; }

.onOffRow {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 5px 0; }
  .onOffRow:first-child {
    justify-content: center; }
    .onOffRow:first-child .onOff {
      width: 70px;
      height: 70px;
      flex: 0 1 auto;
      border-radius: 50%;
      background-color: yellow; }
      .onOffRow:first-child .onOff.on {
        background-color: red; }

.onOffRow:nth-child(5) .onOff.on,
.onOffRow:nth-child(4) .onOff.on {
  background-color: yellow; }
  .onOffRow:nth-child(5) .onOff.on:nth-child(3n+0),
  .onOffRow:nth-child(4) .onOff.on:nth-child(3n+0) {
    background-color: red; }

.onOffRow:nth-child(5) .onOff.off,
.onOffRow:nth-child(4) .onOff.off {
  background-color: #AF8E5A; }
  .onOffRow:nth-child(5) .onOff.off:nth-child(3n+9),
  .onOffRow:nth-child(4) .onOff.off:nth-child(3n+9) {
    background-color: #654C4C; }

.onOff {
  flex: 1 auto;
  display: inline-block;
  width: 35px;
  height: 120px;
  margin: 0 2px;
  border-radius: 7px;
  border: 3px solid black;
  background-color: grey; }
  .onOff.on {
    background-color: red; }
  .onOff.off {
    background-color: #712D2D; }
